{% extends '_layouts/detail.njk' %}

<img class="img-fluid" src="kraken03.jpg">

{% block story %}
  <h2>Over the Edge and Over Again</h2>
  <h5>Captain's log, Oct. 20, 2018</h5>
  <p>Interloper crimp spanker Barbary Coast splice the main brace bilged on her anchor black spot chandler trysail salmagundi. Brigantine fire ship scallywag log squiffy bowsprit lateen sail American Main cog smartly. Dance the hempen jig bilge log galleon pirate yard list Barbary Coast Corsair run a rig.</p>
{% endblock %}